<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="m1" slot="start"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid style="margin-top: 20%" align="center">
        <ion-row class="topMargin">
            <ion-col offset="2" size="8">
                <ion-label>
                    <ion-icon name="document-outline" size="large"></ion-icon>
                </ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="topMargin">
            <ion-col offset="2" size="8">
                <ion-label>
                    <ion-text class="bigText" color="primary"> Guide d'utilisation</ion-text>
                </ion-label>
            </ion-col>
        </ion-row>

        <ion-row class="topMargin">
            <ion-col>
                <ion-label>
                    <ion-text>Tasker est une Application web et mobile simple à utiliser qui vise à permettre au
                        Professionnels et leurs Clients
                        de suivre les taches realisé en temps reel en partageant l'avancement des travaux
                    </ion-text>
                </ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="topMargin">
            <ion-col>
                <ion-label>
                    <ion-text class="textBold">guide d'utilisation complet sur
                    </ion-text>
                </ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="topMargin">
            <ion-col offset="2" size="8">
                <ion-label>
                    <ion-text>http://tasker.letapp.net
                    </ion-text>
                </ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
