<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="m1" slot="start"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid style="margin-top: 40%" align="center">
        <ion-row class="topMargin">
            <ion-col offset="2" size="8">
                <ion-label>
                    <ion-icon name="mail-outline" size="large"></ion-icon>
                </ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col offset="2" size="8">
                <ion-label align="center">
                    <ion-text class="bigText" color="primary">Contact</ion-text>
                </ion-label>

            </ion-col>
        </ion-row>
        <ion-row class="topMargin">
            <ion-col offset="2" size="8">
                <ion-label>
                    <ion-text class="textBold">E-mail:</ion-text>
                    <ion-text>tasker@letapp.net</ion-text>
                </ion-label>

            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-label>
                    <ion-text  class="textBold">WhatsApp</ion-text>
                    <ion-text>(+212)06 04 80 07 23</ion-text>
                </ion-label>

            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
