<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="m1" slot="start"></ion-menu-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button class="textBold" color='success' (click)="onGoToPublicArea()">
                <ion-label>Visiteur</ion-label>
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>


    </ion-toolbar>
</ion-header>
<ion-content>


    <form [formGroup]="form">
        <ion-grid class="">
            <ion-row class="topMargin">

                <ion-col size="2" offset="5">
                    <ion-icon size="large" name="eye-off-outline"></ion-icon>
                </ion-col>
            </ion-row>
            <ion-row class="topMargin">
                <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-lg="4" offset-lg="4">
                    <ion-list>

                        <ion-item>
                            <ion-label class="font-weight-bold" position="floating">Mot de passe Actuel
                              </ion-label>
                            <ion-input
                                    formControlName="oldpassword"
                                    type="password">
                            </ion-input>
                            <div *ngIf="(form.controls['oldpassword'].errors && form.controls['oldpassword'].touched)">
                                <ion-text class="smallText" color="danger">6 caractères minimum</ion-text>
                            </div>
                        </ion-item>

                        <ion-item>
                            <ion-label class="font-weight-bold" position="floating">
                                Nouveau Mot de passe
                            </ion-label>
                            <ion-input
                                    formControlName="password"
                                    type="password">
                            </ion-input>
                            <div *ngIf="(form.controls['password'].errors && form.controls['password'].touched)">
                                <ion-text class="smallText" color="danger">6 caractères minimum</ion-text>
                            </div>
                        </ion-item>

                        <ion-item>
                            <ion-label class="font-weight-bold" position="floating">
                                saisir à nouveau le mot de passe
                            </ion-label>
                            <ion-input
                                    formControlName="repassword"
                                    type="password">
                            </ion-input>
                            <div *ngIf="form.errors?.mismatch && (form.controls['repassword'].dirty && form.controls['repassword'].touched)">
                                <ion-text class="smallText" color="danger">ne correspond pas a votre mot de passe
                                </ion-text>
                            </div>
                        </ion-item>

                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>

                <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-lg="4" offset-lg="4">

                    <ion-button (click)="onEdit()"
                                [disabled]="!form.valid"
                                class="font-weight-bold"
                                color="primary"
                                expand="block">
                        Modifier
                        <ion-icon name="create-outline"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
